<footer class="text-center text-lg-start bg-light text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <div class="text-center">
        <span>Questo è il footer</span>
      </div>
    </section>
    <section>
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Edok - Electronic Document
            </h6>
            <p>
                Edok opera dal 2005, anno della sua fondazione, 
                nel settore della Gestione Elettronica Documentale 
                ed è specializzata nella progettazione, [...]
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Questo è un elenco
            </h6>
            <p>
                Elemento 1
            </p>
            <p>
                Elemento 2
            </p>
            <p>
                Elemento 3
            </p>
            <p>
                Elemento 4
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Questo è un altro elenco
            </h6>
            <p>
                Elemento 5
            </p>
            <p>
                Elemento 6
            </p>
            <p>
                Elemento 7
            </p>
            <p>
                Elemento 8
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Contatti
            </h6>
            <p>
                Indirizzo: Via dei Traversi, 25 - Vobarno (BS)
            </p>
            <p>
                Email: info@edok.it
            </p>
            <p>
                Tel: 0365.690019
            </p>
            <p>
                Pec: edokpec@actaliscertymail.it
            </p>
          </div>
        </div>
      </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright
    </div>
  </footer>